In [4]:
import sqlite3

In [5]:
import sqlite3

conn = sqlite3.connect('latlong.db')

print("Opened database successfully")

Opened database successfully

In [6]:
#Table creation
import sqlite3

conn = sqlite3.connect('latlong.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE LAT_LONG
         (ID INT PRIMARY KEY     NOT NULL,
         LOCATION           TEXT    NOT NULL,
         LATITUDE            INT     NOT NULL,
         LONGITUDE            INT     NOT NULL)''')
print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [9]:
import sqlite3

conn = sqlite3.connect('FILE.db')
print("Opened database successfully")

conn.execute("INSERT INTO LAT_LONG (ID,LOCATION,LATITUDE,LONGITUDE) \
      VALUES (1, 'INDIA', 100.98, 8992.3 )");

conn.execute("INSERT INTO LAT_LONG (ID,LOCATION,LATITUDE,LONGITUDE) \
      VALUES (2, 'AUSTRALIA', 5763.98, 7652.32 )");

conn.execute("INSERT INTO LAT_LONG (ID,LOCATION,LATITUDE,LONGITUDE) \
      VALUES (3, 'JAPAN', 564.8, 3980.6 )");

conn.commit()
print("Records created successfully")
cursor=conn.execute("SELECT id,location,latitude,longitude from LAT_LONG")
for row in cursor:
    print("ID = ", row[0])
    print("LOCATION = ", row[1])
    print("LATITUDE = ", row[2])
    print("LONGITUDE = ", row[3], "\n")
conn.close()

Opened database successfully
Records created successfully
ID =  1
LOCATION =  INDIA
LATITUDE =  100.98
LONGITUDE =  8992.3

ID =  2
LOCATION =  AUSTRALIA
LATITUDE =  5763.98
LONGITUDE =  7652.32

ID =  3
LOCATION =  JAPAN
LATITUDE =  564.8
LONGITUDE =  3980.6